/*** Project Meta ***/

/* general - line 13 */

/* header - line 39 */

/* main content - line 19 */

/* footer - line 144 */

/** GENERAL **/

:root {
  --border-bottom: 1px solid rgb(230, 230, 230);
  --grey: rgb(246, 246, 246);
  --flex: flex;
}

/* Mobile View */

.html {
  font-size: 87.5%;
  scroll-behavior: smooth;
}

.body {
  position: relative;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** header **/

/* Main Content */

.space1 {
  border-bottom: var(--border-bottom);
  padding: 1rem;
  display: var(--flex);
  align-items: center;
}

.space {
  border-bottom: var(--border-bottom);
  padding: 1rem;
  display: var(--flex);
  align-items: center;
  position: relative;
}

.form {
  display: var(--flex);
  justify-content: space-between;
  align-items: center;
}

.todoinput {
  width: 80%;
}

.addtodoarrow {
  width: 15px;
  margin-right: 0.6rem;
}

.threedots {
  width: 1.3rem;
  display: block;
  position: absolute;
  right: 1rem;
}

.bin {
  display: none;
  position: absolute;
  right: 1rem;
  z-index: 100;
}

.bin:hover {
  display: block;
  cursor: pointer;
}

.todo {
  background-color: var(--grey);
  height: 100vh;
  display: var(--flex);
  justify-content: center;
  align-items: center;
}

.todo-list {
  background-color: white;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 0 10px rgb(208, 207, 208);
}

.demo {
  font-weight: bold;
}

.todoinput:focus {
  outline: none;
  background-color: initial;
}

.todoinput::placeholder {
  font-style: italic;
}

.input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  border: none;
  outline: none;
}

.list-title {
  width: 87%;
  margin: 0 0.8rem;
}

.list-title:focus {
  outline: none;

  /* background-color: palegoldenrod; */

  /* margin: 0 0.8rem; */
}

.clear {
  text-align: center;
  padding: 1.1rem;
  background-color: var(--grey);
}

.clear-link {
  color: grey;
}

.clear-link:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.clear-link:visited {
  color: initial;
}

/* Footer */
