/*** Project Meta ***/

/* general - line 13 */

/* header - line 39 */

/* main content - line 138 */

/* footer - line 866 */

/** GENERAL **/

:root {
  --border-bottom: 1px solid rgb(246, 246, 246);
  /* --border-bottomm: black; */
  --grey: rgb(246, 246, 246);
}

/* Mobile View */

.html {
  /* font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif; */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

.body {
  position: relative;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/** header **/

/* Main Content */
.space {
  border-bottom: var(--border-bottom);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.main {}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoinput {
  width: 80%;
}

.todoinput:focus {
  outline: none;
}

.addtodoarrow {
  width: 15px;
  margin-right: 0.6rem;
}

.threedots {
  width: 1.3rem;
}

.todo {
  background-color: var(--grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  background-color: white;
  max-width: 500px;
  width: 80%;
}

.demo {
  /* font-size: 2rem; */
  font-weight: bold;
}

.input:focus {
  border: none;
  outline: none;
}

/* .input[type="text"] {} */

.input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
}

.input[type="checkbox"]:checked {
  background-color: none;
}

.list-title {
  width: 100%;
  /* padding: 0 0.5rem; */
  margin: 0 0.8rem;
}

.list-title:focus {
  outline: none;
  background-color: palegoldenrod;
  margin: 0 0.8rem;
}

.clear {
  text-align: center;
  padding: 1.1rem;
  background-color: var(--grey);
}

.clear-link {
  color: grey;
}

.clear-link:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.clear-link:visited {
  color: none;
}



/* Footer */

/* @media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1025px) {} */
